.configuration-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.wait-message {
  margin-bottom: 12px;
  font-weight: 800;
  color: #eccb47;
}

.card.configuration-card {
  max-width: 95%;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 16px;
}
.config-row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
  flex-wrap: wrap;
  font-weight: 500;
  color: var(--text-dark);
}

.label-inline {
  min-width: 160px;
  font-size: 14px;

}

.selected-file-name {
  min-width: 180px;
  max-width: 320px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  padding-left: 8px;
}

.configuration-button {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid;
  cursor: pointer;
}

.playbook-button {
  background-color: #ea5a5f;
  color: white;
}

.template-button {
  background-color: #24ed8b;
  color: white;
}

.send-button {
  background-color: #007bff;
  color: white;
}
.rollback-button {
  background-color: #eccb47;
  color: white;
}

.playbook-button:hover {
  background-color: #da4c52;
}

.template-button:hover {
   background-color: #1be375;
}

.send-button:hover {
  background-color: #056fe1;
}

.rollback-button:hover {
  background-color: #dfb813;
  color: white;
}

.output-row {
  margin-bottom: 50px;
}

.output-field {
  flex: 1 1 420px;
  min-height: 60px;
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 6px;
  resize: vertical;
}

.text-input {

  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid #ddd;
  width: 500px;
}

.snapshot-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 12px;
}

.snapshot-desc {
  min-width: 320px;
  padding: 6px 8px;
  border: 1px solid #eee;
  border-radius: 6px;
  background: #fafafa;
  font-weight: 200;
  font-size: 14px;
}

.select-field {
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.small-result {
  min-height: 20px;
  color: #222;
  font-size: 13px;
  margin-top: 6px;
  margin-bottom: 50px;
}

.action-button.delete[disabled], .action-button.delete:disabled {
  opacity: 0.45;
  cursor: not-allowed;
}
