.configuration-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.wait-message {
  margin-bottom: 12px;
  font-weight: 800;
  color: #eccb47;
}

.card.configuration-card {
  max-width: 95%;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 16px;
}

.config-row {
  display: flex;
  align-items: center;
  gap: 90px;
  margin: 14px 0;
  font-weight: 500;
  color: #343a40;
}

.main-actions-row {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px;
}

.aligned-group {
    display: flex;
    align-items: center;
    gap: 15px;
}
.selected-file-name.test-file-name {
  margin-right: 28px; /* regola il valore a piacere (es. 24px, 32px, 48px) */

}
.label-inline {
  font-size: 14px;
}

.selected-file-name {
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  padding-left: 8px;
  margin-right:7px;
}

.selected-file-name.file-status-valid {
    color: #1e7e34;
}

.selected-file-name.file-status-invalid {
    color: #dc3545;
}

.configuration-button {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid;
  cursor: pointer;
  height: 40px;
}

.playbook-button {
  background-color: #ea5a5f;
  color: white;
}

.template-button {
  background-color: #24ed8b;
  color: white;
}

.send-button {
  background-color: #007bff;
  width:125px;
  color: white;
}

.rollback-button {
  background-color: #eccb47;
  color: white;
}

.playbook-button:hover {
  background-color: #da4c52;
}

.template-button:hover {
   background-color: #1be375;
}

.send-button:hover{
  background-color: #056fe1;
}

.rollback-button:hover {
  background-color: #dfb813;
  color: white;
}

.output-row {
  margin-top:50px;
  margin-bottom: 50px;
  flex-wrap: wrap;
  justify-content: flex-start;
 font-weight: 500;
  color: #343a40;
}

.output-field {
  width: 100%;
  display: flex;
  min-height: 60px;
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 6px;
  resize: vertical;
}

.output-field.success {
    border-color: #1e7e34;
    color: #1e7e34;
    font-weight: 600;
}

.output-field.error {
    border-color: #dc3545;
    color: #dc3545;
    font-weight: 600;
}

.text-input {
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid #ddd;
  width: auto;
  flex-grow: 1;
}

.snapshot-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 16px;
}

.description-display-group {
    flex-grow: 1;
}

.snapshot-desc {
  padding: 6px 8px;
  border: 1px solid #eee;
  border-radius: 6px;
  background: #fafafa;
  font-weight: 400;
  font-size: 13px;
  flex-grow: 1;
}

.select-field {
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.small-result {
  min-height: 20px;
  color: #222;
  font-size: 13px;
  margin-top: 6px;
  margin-bottom: 50px;
}

.small-result.success {
    color: #1e7e34;
    font-weight: 600;
}

.small-result.error {
    color: #dc3545;
    font-weight: 600;
}

.delete[disabled], .delete:disabled {
  opacity: 0.45;
  cursor: not-allowed;
}