.experiment-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.wait-message {
  margin-bottom: 12px;
  font-weight: 800;
  color: #eccb47;
}

.card.experiment-card {
  max-width: 95%;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 16px;
}

.config-row {
  align-items: center;
  justify-content: flex-start;
  margin-top:50px;
  margin-bottom: 50px;
  font-weight: 500;
  color: #343a40;
}

.main-actions-row {
    flex-wrap: wrap;
    gap: 10px;
}

.aligned-group {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-start;
}

.experiment-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.label-inline {
  font-size: 14px;
}

.additional-margin{
    margin-left: 35px;
}
.add-remove-label{
    font-weight: bold;
    color: #6eacf3;
    cursor: pointer;
    font-size: 25px;
}

.selected-file-name {
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  padding-left: 8px;
  margin-right:7px;
}

.selected-file-name.file-status-valid {
    color: #1e7e34;
}

.selected-file-name.file-status-invalid {
    color: #dc3545;
}

.experiment-button {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid;
  cursor: pointer;
  height: 40px;
}

.playbook-button {
  background-color: #ea5a5f;
  color: white;
}

.template-button {
  background-color: #24ed8b;
  color: white;
}

.send-button {
  background-color: #007bff;
  width:125px;
  color: white;
}

.rollback-button {
  background-color: #eccb47;
  color: white;
}

.choose-button{
    width:125px;
}

.playbook-button:hover {
  background-color: #da4c52;
}

.template-button:hover {
   background-color: #1be375;
}

.send-button:hover{
  background-color: #056fe1;
}

.rollback-button:hover {
  background-color: #dfb813;
  color: white;
}

.duration-row {
  margin-top:50px;
  margin-bottom: 50px;
  font-weight: 500;
  color: #343a40;
}

.duration-field {
  width: 25%;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 25px;
}

.add-metric-field {
  width: 55%;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 25px;
}

.select-field {
  padding: 6px 8px;
  border-radius: 6px;
  width: 50%;
  border: 1px solid #ddd;
}

.delete[disabled], .delete:disabled {
  opacity: 0.45;
  cursor: not-allowed;
}