.navbar {
    width: 100%;
    background-color: var(--white);
    padding: 5px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
/* logo style */
.navbar-logo {
    height: 45px;
}
.navbar-menu{
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 25px;

}
.navbar-links {
    display: flex;
    align-items: center;
    margin-left: 20px; /* Spazio dopo il logo */
    flex-grow: 1; /* Permette ai link di occupare lo spazio centrale */
}
.nav-link {
    color: var(--text-dark);
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 500;
    cursor: pointer;
}
.nav-link:hover {
    color: var(--primary-blue-dark);
    background-color: rgba(219, 236, 255, 0.35);

}
.nav-link.active {
    color: var(--primary-blue);
    background-color: rgba(219, 236, 255, 0.25);
    font-weight: 700;
}
.logout-button{
    padding: 10px 15px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}
.logout-button:hover {
    background-color: #a71d2a;
}
.active-timer {
    font-weight: 700;
    color: var(--primary-blue);
    font-size: 1em;
    margin-right: 10px;
}
.progress-modal-header {
    margin-bottom: 10px;
}
.progress-modal-wait-message {
    margin: 0;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 46, 107, 0.6);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 8px;
  max-width: 800px;
  width: 90%;
  border: 1px solid #d4e1ff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
.modal-header h3 {
  margin-top: 0;
  color: #0b2e6b;
}
.modal-header p {
  color: #32508a;
  font-size: 14px;
}
.modal-body {
    padding: 20px 0;
}
.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 20px;
}
.progress-modal-res {
    text-align: center; 
    color: #f39c12;
     font-size: 16px; 
     font-weight: bold;
}
.progress-container {
    display: flex;
    flex-direction: column; 
    gap: 15px;
}
.progress-element {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 14px;
}
.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 8px; 
    height: 12px;
    overflow: hidden;
}
.progress-bar-fill {
    height: 100%;
    transition: width 0.5s ease-in-out;
}
.progress-bar-fill.in-progress {
    background-color: #3498db;
}
.progress-bar-fill.completed {
    background-color: #27ae60;
}