{% if type == 'configs' %}
{{ playbook_dir }}/../{{ controller_dest_dir }}/res_{{ reservation_id }}_running_configs
{% elif type == 'snapshot' %}
{{ playbook_dir }}/../snapshots/res_{{ reservation_id }}_snapshots/{{ name }}
{% endif %}